
<!DOCTYPE HTML>


<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pancakes</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>
<p th:text="'Hello, ' + Vladut + '!'"/>

<table>
    <thead>
    <tr>
        <th> ID</th>
        <th> Name</th>
        <th> Flavour</th>
        <th> Weight</th>
        <th> Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pancake: ${pancakes}">
        <td><span th:text="${pancake.id}"> Id </span></td>
        <td><span th:text="${pancake.name}"> Name </span></td>
        <td><span th:text="${pancake.flavour}"> Flavour </span></td>
        <td><span th:text="${pancake.weight}"> Weight </span></td>
        <td><span th:text="${pancake.price}"> Price </span></td>
        <td>
            <a th:href="@{/updatePancake/{id}(id=${pancake.id})}" class="btn btn-info">Update</a>
        </td>
    </tr>
    </tbody>
</table>


<a th:href="@{/savePancake}">
    <button type="button" class="btn btn-info"> Add new Pancake</button>
</a>

</body>
</html>





