<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pancakes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'"/>

<table>
    <thead>
    <tr>
        <th> ID</th>
        <th> Name</th>
        <th> Flavour</th>
        <th> Weight</th>
        <th> Wrapper</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pancake: ${pancakes}">
        <td><span th:text="${pancake.id}"> Id </span></td>
        <td><span th:text="${pancake.name}"> Name </span></td>
        <td><span th:text="${pancake.flavour}"> Flavour </span></td>
        <td><span th:text="${pancake.weight}"> Weight </span></td>
        <td><span th:text="${pancake.price}"> Price </span></td>
        <td><span th:text="${pancake.Wrapper}"> Wrapper </span></td>
    </tr>
    </tbody>
</table>


<a th:href="@{/savePancake}">
    <button type="button"> Add new Pancake</button>
</a>

</body>
</html>