<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Save Pancake</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>

<div class="container">

    <h3>Add New Pancake</h3>
    <hr/>

    <form action="#" th:action="@{/savePancake}" th:object="${pancakeObject}" method="post">

        <input type="text" th:field="*{name}" class="form-control col-4 mb-4" placeholder="Enter name"  />

        <input type="text" th:field="*{price}" class="form-control col-4 mb-4" placeholder="Enter price" />

        <input type="text" th:field="*{flavour}" class="form-control col-4 mb-4" placeholder="Enter flavour" />

        <input type="text" th:field="*{weight}" class="form-control col-4 mb-4" placeholder="Enter weight" />

        <button type="submit" class="btn btn-primary col-2">Save</button>
    </form>
    <hr/>
    <a th:href="@{/allPancakes}" class="btn btn-primary col-3">Back to list</a>
</div>

</body>
</html>
