<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Pancake</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
</head>
<body>
<!-- Search Pancake-->
<h1>Search by Name</h1>
<form action="#" th:action="@{/searchPancake}" th:object="${searchPancake}" method="post">
    <p>Name: <input type="text" th:field="*{name}"/></p>
<!--    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>-->
    <button type="submit" class="btn btn-info">Search</button>
    <button type="reset" class="btn btn-info">Reset</button>
</form>
</body>
</html>