<!DOCTYPE HTML>


<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Pancake</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>

<div class="container">

    <h3>Update Pancake</h3>
    <hr/>

    <form action="#" th:action="@{/updatePancake/{id}(id=${pancake.id})}" th:object="${pancake}" method="put">

        <input type="text"  class="form-control col-4 mb-4"  th:value="${pancake.name}"/>

        <input type="text"  class="form-control col-4 mb-4" th:value="${pancake.price}"/>

        <input type="text"  class="form-control col-4 mb-4" th:value="${pancake.flavour}"/>

        <input type="text"  class="form-control col-4 mb-4" th:value="${pancake.weight}"/>

        <input type="submit" class="btn btn-primary col-2"   value="Update Pancake">
    </form>
    <hr/>
    <a th:href="@{/allPancakes}" class="btn btn-primary col-3">Back to list</a>
</div>

</body>
</html>

